<!DOCTYPE html>
<html lang="en">
 <head>
   <title>!DOCTYPE</title>
   <meta charset="utf-8">
 </head>
 <body>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
 
<form action="{{url_for('addUser')}}" method="post" class="form-contact">
<p><label>user </label> <input type="text" name="username" value="" requied />
<p><label>user </label> <input type="text" name="password" value="" requied />
<p><label>user </label> <input type="text" name="email" value="" requied />
<p><label>user </label> <input type="text" name="role" value="" requied />
<p><input type="submit" value="Добавить" />
</form>
  </body>
</html>